* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #232323;
  background-color: rgb(255, 255, 255);
}

/* global */
#gl_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* map */

#map {
  height: 100vh;
  width: 100vw;
}

/*Post*/
#post_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#post_profile {
  padding: 10px;
  height: 19%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#post_pic {
  padding: 10px;
  width: 120px;
  display: flex;
  flex-direction: row;
}

#post_pic img {
  object-fit: cover;
  width: 90px;
  overflow: hidden;
  clip-path: circle(50%);
}

#post_profile_det {
  align-items: center;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}
#post_profile img {
  width: 200px;
  height: auto;
}

#post_details {
  padding: 15px;
  height: 80%;
}

/* marker */

.marker_icon {
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.marker_tag {
  position: absolute;
  margin-top: -8px;
  left: 15px;
  justify-content: center;
}

/* popup */

.popUp_button {
  width: 100%;
  height: 40px;
}
