*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

/* global */
#gl_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* map */

#map{
  height: 100vh;
  width: 100vw;
}

/*Post*/
#Pst_container{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* marker */

.marker_icon {
  background-color: rgb(252, 0, 0);
  width: 60px;
  height: 60px; 
  background-size: cover; 
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
}

.marker_tag {
  position: absolute;
  margin-top: -8px;
  left: 15px;
  justify-content: center;
}

/* popup */

.popUp_button{
  width: 100%;
  height: 40px;
}
